html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.main-content {
  display: flex;
  flex: 1;
  height: calc(100vh - 45px); /* Trừ Navbar height */
  overflow: hidden;
}
.map-section {
  flex: 1; /* Chiếm phần còn lại */
  height: 100%;
}
.sidebar-section {
  width: 350px;
  height: 100%;
  background-color: white;
  border-left: 1px solid #dee2e6;
  box-shadow: -2px 0 5px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
}

/* Ẩn tooltip khi showHoverDetails = false */
.hide-tooltips .leaflet-tooltip {
  display: none !important;
}
